h3{
    font-family: 'Yatra One', cursive;
    font-size: 60px;
}
.s1 {
    display: flex;
}
.half-width{
    width: 50%;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: coral;
    
}
.half-width img{
    height: 400px;
    width: 350px;
  margin-left: 40px;
  
    
}
.orange-color {
    color: crimson;
}

#web-dev{
    border-left: 3px solid;
    border-image: linear-gradient(blue,cyan );
    border-image-slice: 1;
    border-radius: 5px;
}

.link-button{
    background-color: rgb(248, 50, 0);
    border-radius: 6px;
    width: 10px;
    height: 6px;
    padding: 10px;
    border: 3px;
    text-decoration: none;
}
.link-button a{
    font-weight: bold;

}
.slider {
    float: left;
    width: 33.33%;
    padding: 10px;

}
.slider img{
    width: 200px;
    height: 200px;
}
.card-color{
    background-color: darkorange;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 500px;
}
.card-color1{
    background-color: darkturquoise;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 500px;
    margin-left: 70px;
}
.card-color2{
    background-color: deepskyblue;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 500px;
}
.fsize h3{
    font-size: 51px;
}

.footer {
    background-color: rgb(21, 24, 27);
    color: floralwhite;
    margin-bottom: 0px;
   
}
.footer-font{
    text-align: center;
}
.footer-font span{
    color: rgb(238, 3, 3);
}
.footer-font h3{
    font-size: 25px;
}

.form-design{
    margin-left: 60px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 3px;
    margin: 10px;
}